@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/web/cuprum.woff2') format('woff2'),
         url('/fonts/web/cuprum.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/web/cuprumbold.woff2') format('woff2'),
         url('/fonts/web/cuprumbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/web/cuprumbolditalic.woff2') format('woff2'),
         url('/fonts/web/cuprumbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/web/cuprumitalic.woff2') format('woff2'),
         url('/fonts/web/cuprumitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/web/ptsans.woff2') format('woff2'),
         url('/fonts/web/ptsans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sans-serif';
    src: url('/fonts/web/ptsansbold.woff2') format('woff2'),
         url('/fonts/web/ptsansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.content {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

h1.catalog-heading {
    width: 940px;
    padding-top: 32px;
    padding-right: 742px;
    padding-bottom: 34px;
    padding-left: 30px;

    font: inherit;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.button {
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 5px;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 23px;
    
    background-color: #f4f7f9;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.user-navigation-wrapper {
    width: 100%;

    background-color: #293449;
}

.user-navigation {
    display: flex;
    
    font: inherit;
    line-height: 18px;
}

.user-navigation a {
    width: 150px;
    padding-top: 14px;
    padding-bottom: 13px;

    color: #ffffff;
}

.user-navigation a:nth-of-type(2) {
    padding-left: 44px;
}

.user-navigation a:nth-of-type(3) {
    padding-left: 50px;
}

.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #212a3a;
}

.user-navigation a:active {
    color: rgba(255, 255, 255, 0.6);
    
    background-color: #161d29;
}

a.site-logo-top {
    width: 220px;
    margin-bottom: -5px;
    padding-top: 13px;

    text-align: center;
 
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

a.site-logo-top:hover,
a.site-logo-top:focus {
    background-color: #ca2c37;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

a.site-logo-top:active {
    background-color: #ba2732;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search {
    position: relative;
    width: 270px;
}

.search p {
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 49px;
    margin: 0;

    font: inherit;
    line-height: 18px;
}

.search:hover {
    background-color: #212a3a;    
}

.search input {
    border: none; 
    outline: none;
}

.search form {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    width: 270px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 49px;
    
    color: #000000;

    background-color: #ffffff;
}

.search:active form {
    display: block;
}

.user-navigation .make-order-button {
    padding-right: 22px;
    padding-left: 20px;

    background-color: #63a63e;
}

.user-navigation .make-order-button:hover,
.user-navigation .make-order-button:focus {
    background-color: #5fbb2d;
}

.user-navigation .make-order-button:active {
    color: rgba(255, 255, 255, 0.5);
    
    background-color: #518534;
}

.marks-full,
.cart-full {
    background-color: #ee3643;
}

.information {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 46px;
    margin-bottom: 44px;
}

.information p {
    width: 196px;
    margin: 0;
    margin-left: 53px;
        
    font: inherit;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.contacts-top {
    display: flex;
    flex-direction: column;
}

.contacts-top a{
    width: 270px;
    margin-left: 71px;
    padding-top: 10px;
    padding-right: 49px;
    padding-bottom: 8px;
    padding-left: 71px;
    
    font: inherit;
    font-size: 21px;
    line-height: 21px;
    color: #e9292a;

    border: 3px solid #ffffff;
}

.contacts-top p {
    width: 250px;
    margin-top: 10px;
    margin-left: 81px;
    
    font: inherit;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.user-registration {
    display: flex;
    justify-content: space-between;
    width: 281px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.user-registration li,
p.user {
    font: inherit;
    font-style: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.user-registration li:first-of-type {
    width: 121px;
    margin-right: 10px;
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 15px;
    padding-left: 48px;    
}

.user-registration li:last-of-type {
    width: 150px;
    padding-top: 14px;
    padding-right: 25px;
    padding-bottom: 11px;
    padding-left: 25px;   
}

.registered-user {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 17px;

    font: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.registered-user li:first-child {
    list-style: none;
    margin-right: 32px;
}

.user-registration a,
.user a {
    color: #000000;
}

.registered-user a {  
    color: #32425c;
    text-decoration: underline; 
}

.user-registration a:hover,
.user-registration a:focus,
.registered-user a:hover,
.registered-user a:focus {
    color: #ee3643;
}

.user a:hover,
.user a:focus {
    color: #000000;
}

.user-registration a:active,
.user a:active {
    color: rgba(0, 0, 0, 0.3);
}

.registered-user a:active {
    color: #32425c;
    opacity: 0.3;  
}

.registered-user-block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.registered-user-block p.user {
    width: 299px;
    margin: 0;
    margin-bottom: 10px;   
    padding-top: 14px;
    padding-right: 69px;
    padding-bottom: 11px;
    padding-left: 47px;
}

p.user a {
    display: inline-block;
    width: 299px;    
}

.main-navigation {
    width: 940px;

    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
    margin-bottom: 60px;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    flex-grow: 1;
    
    text-align: center;
}

.site-navigation a {
    display: inline-block;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 26px;

    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}
    
.changable {
    display: none;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: start;

    padding: 0;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs li {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs li:nth-child(2) {
    margin-left: 41px;
    margin-right: 39px;
}

.breadcrumbs li:last-child {
    margin-left: 43px;
}

ul.promo {
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: 59px;
    margin-bottom: 53px;
    padding: 0;
}

.promo-block-1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 620px;
    margin-right: auto;
}

.promo-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 300px;
}

.promo li {
    width: 300px;
    
    font: inherit;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.promo-1 {
    margin-right: 20px;
    padding-top: 26px;
    padding-left: 23px;
    
    background-color: #ffbf47;
}

.promo-2 {
    padding-top: 26px;
    padding-left: 23px;

    background-color: #3bbce3;
}

.promo-3 {
    margin-bottom: 20px;
    padding-top: 26px;
    padding-left: 22px;

    background-color: #dc91d8;
}

.promo-4 {
    margin-bottom: 20px;
    padding-top: 26px;
    padding-left: 23px;

    background-color: #8ed78f;
}

.promo-5 {
    padding-top: 26px;
    padding-left: 22px;

    background-color: #ffc047;
}

.promo a {
    width: 135px;
    
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    background-color:rgba(229, 229, 229, 0.1);
    border-radius: 5px;
}

.promo-1 a {
    margin-top: 15px;
    margin-bottom: 22px;
    padding-top: 12px;
    padding-bottom: 14px;
}

.promo-2 a {
    margin-top: 15px;
    margin-bottom: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.promo-3 a {
    margin-top: 19px;
    margin-bottom: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.promo-4 a {
    margin-top: 16px;
    margin-bottom: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.promo-5 a {
    margin-top: 16px;
    margin-bottom: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.promo a:hover,
.promo a:focus {
    background-color: rgba(204, 204, 204, 0.2);
}

.promo a:active {
    background-color:rgba(178, 178, 178, 0.3);
}

.slider-top {  
    margin-top: 20px;

    background-color: #1c1310;
}

.slider-top ul {
    margin: 0;
    padding: 0;
}

.slide-1 p:first-of-type,
.slide-2 p:first-of-type {
    position: absolute;
	top: 27px;
	left: 24px;
	width: 100%;
    
    font: inherit;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.slide-1 p:last-of-type,
.slide-2 p:last-of-type {
    position: absolute;
	top: 65px;
	left: 25px;
	width: 100%;
    
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
}

.slide-1 a,
.slide-2 a {
    position: absolute;
	top: 206px;
	left: 25px;
    width: 195px;
    padding-top: 14px;
    padding-right: 45px;
    padding-bottom: 14px;
    padding-left: 49px;
}

.slide-1 {
    position: absolute;
    z-index: 2; 
    width: 620px;  
} 

.slide-2 {
    position: relative;
    z-index: 1; 
    width: 620px;    
} 

.promo-flex {
    display: flex;
    flex-direction: column;
}

.promo-flex p {
    margin: 0;
    padding: 0;
}

.slider-top a.button {
    background-color: #ee3643;
}

.slider-top a.button:hover,
.slider-top a.button:focus {
    background-color: #ca2c37;
}

.slider-top a.button:active {
    background-color: #ba2732;
}

.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    
    background-color: #f9f5f0;
}

.popular h2 {
    margin-left: 30px;
    
    font: inherit;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular .button {
    width: 253px;
    margin-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 21px;
    padding-left: 0;
}

.catalog {
    width: 700px;
}

.products {
    list-style: none;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold; 
    text-align: center;
    color: #000000;

    border: 1px solid #eaeaea;
}

li.products:last-child {
    margin-right: 0;
}

.catalog .products:nth-of-type(3n) {
    margin-right: 0;
}

li.products:hover,
li.products:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.products h3 {
    width: 155px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

    font: inherit;
}

.products a {
    color: #000000;
}

.products li {
    list-style: none;
}

p.price {
    width: 137px;
    margin-top: auto;
    margin-right: 40px; /*ширина и отступ справа указаны с вычетом красного треугольника*/
    margin-bottom: 21px;
    margin-left: 43px;
    padding-top: 13px;
    padding-right: 36px;
    padding-bottom: 13px;
    padding-left: 36px;
    
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #ee3643;
    border-radius: 5px;
}

.products del {
    margin-top: 18px;
    margin-right: 75px;
    margin-bottom: 13px;
    margin-left: 78px;
    
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
}

.products img {
    order: -1;
    margin-bottom: 12px;
       
    background-color: #f9f5f0;
}

.product-action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    
    background-color: #ffffff;
}

.products:hover .product-action {
    display: block;
}

.buy-button,
.bookmark-button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    outline: none;
}

.buy-button {
    width: 135px;
    margin-top: 44px;
    margin-right: 43px; 
    padding-top: 14px;
    padding-bottom: 14px;
    
    color: #ffffff;

    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
    border: none;
    border-radius: 5px;
}

.bookmark-button {
    width: 135px;
    margin-top: 8px;
    margin-right: 43px; 
    padding-top: 14px;
    padding-bottom: 12px;

    color: #32425c;
        
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 5px;
}

.buy-button:hover,
.buy-button:focus {
    background-color: #5fbb2d;
    box-shadow: inset 0px -3px 0 0 #367315;
}

.buy-button:active {
    background-color: #518534;
    box-shadow: none;
}

.bookmark-button:hover,
.bookmark-button:focus {
    border: 3px solid #32425c;
}

.bookmark-button:active {
    opacity: 0.3;
    border: 3px solid #32425c;
}

ul.brands {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 65px;
}

.brands li {
    width: 220px;
    margin-bottom: 20px;
    
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.brands li:first-child {
    padding-top: 53px;
    padding-right: 47px;
    padding-bottom: 55px;
    padding-left: 47px;
}

.brands li:nth-child(2) {
    padding-top: 50px;
    padding-right: 49px;
    padding-bottom: 55px;
    padding-left: 48px;
}

.brands li:nth-child(3) {
    padding-top: 48px;
    padding-right: 37px;
    padding-bottom: 53px;
    padding-left: 37px;
}

.brands li:nth-child(4) {
    padding-top: 21px;
    padding-right: 11px;
    padding-bottom: 36px;
    padding-left: 9px;
}

.brands li:nth-child(5) {
    padding-top: 58px;
    padding-right: 23px;
    padding-bottom: 56px;
    padding-left: 28px;
}

.brands li:nth-child(6) {
    padding-top: 35px;
    padding-right: 51px;
    padding-bottom: 37px;
    padding-left: 48px;
}

.brands li:nth-child(7) {
    padding-top: 23px;
    padding-right: 34px;
    padding-bottom: 26px;
    padding-left: 35px;
}

.brands li:nth-child(8) {
    padding-top: 34px;
    padding-right: 6px;
    padding-bottom: 42px;
    padding-left: 10px;
}

.brands li:hover,
.brands li:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.brands li:active {
    opacity: 0.3;
    
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    background-color: rgba(255, 255, 255, 1);
}

.wrapper {
    background-color: #f4f7f9;
    width: 100%;
}

.services {
    padding-top: 68px;
    padding-bottom: 99px;
}

.services h2,
.about-us h2,
.contacts h2,
.about-product h2 { 
    margin-top: 0;
    
    font: inherit;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
}

.services .content {
    width: 398px;
    margin-top: 38px;
    margin-bottom: auto;
}

.services-list:first-of-type .content {
    width: 275px;
    margin-top: 34px;
}

.services-list:nth-of-type(2) .content {
    width: 379px;
    margin-top: 38px;
}

.services-list:nth-of-type(3) .content {
    width: 279px;
    margin-top: 34px;
    margin-bottom: 31px;
}

.services-list .button {
    width: 195px;
    margin-top: 31px;
    margin-bottom: auto;
    padding-top: 14px;
    padding-right: 44px;
    padding-bottom: 14px;
    padding-left: 44px;    
}

.services-list h3 {
    margin: 0;
    padding: 0;
    
    font: inherit;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.slider-down-list {
    list-style: none;
    position: relative;
    margin: 0;
    margin-top: 74px;
    margin-right: auto;
    padding: 0;
}

.tab,
.slider-down-button {
    display: flex;
    align-items: flex-start;
}

.services-list {
    position: absolute;
    display: none;
    margin-left: 320px;
}

.tab input[type="radio"] {
    display: none;
}

.tab input[type="radio"]:checked + .slider-down-button {
    position: relative; 
}

.tab input[type="radio"]:checked ~ .services-list {
    display: block;
    top: 0;
    left: 0; 
}

li.tab {
    margin: 0;
    padding: 0;
}

.slider-down-button {
    width: 240px;
    height: 61px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 23px;

    font: ingerit;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;

    background-color: #32425c;
    box-shadow: 
    0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
    border: none;
    outline: none;
}

.slider-down-button:hover,
.slider-down-button:focus {
    background-color: #293449;
    box-shadow: 
    0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
}

.tab input[type="radio"]:checked + .slider-down-button {
    color: #32425c;

    background-color: #ffffff;
    box-shadow: 
    0px 1px 0 0 #ffffff,
    inset 0px 1px 0 0 #ffffff;
    border: none;
}

.about-us-and-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    margin-bottom: 86px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 519px;
}

.delivery .content {
    width: 386px;
    margin-bottom: 28px;
}

.delivery ul {
    list-style: none;
}

.delivery li {
    font: inherit;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.delivery li:first-of-type {
    margin-bottom: 24px;
}

.delivery li:nth-of-type(2) {
    margin-bottom: 23px;
}

.delivery li:nth-of-type(3) {
    margin-bottom: 37px;
}

.about-us .button {
    width: 220px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.contacts {
    width: 300px;
}

.contacts .content {
    width: 179px;
    margin-top: 39px;
    margin-bottom: 36px;
}

.contacts img {
    margin-bottom: 40px;
    
    background-color: #e2e1dc;
} 

.contacts .button {
    outline: none;
    width: 300px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.filter {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    text-transform: uppercase;
}

.filter form {
    margin-top: 20px;
}

.filter fieldset {
    padding: 0;
    margin: 0;

    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:first-of-type {
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.filter fieldset:nth-of-type(2) {
    padding-bottom: 21px;
    margin-bottom: 26px;
}

.filter fieldset:last-of-type {
    border-bottom: none;
}

.filter h2 {
    width: 220px;
    margin: 0;
    padding-top: 14px;
    padding-right: 149px;
    padding-bottom: 15px;
    padding-left: 18px;

    font: inherit;

    background-color: #f7f3ec;
}

.filter legend {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;

    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter input {
    margin-left: 0;
    padding-left: 0;

    background-color: #c5c5c5;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 15px;
    line-height: 20px;
}

.filter-input:hover,
.filter-input:focus {
    background-color: #b5b5b5;
}

.filter-input:disabled {
    background-color: #b5b5b5;
    opacity: 0.3;
}

.filter-input:disabled + label { 
    opacity: 0.4;
}

.producers li {
    margin-bottom: 17px;
}

.producers li:last-child {
    margin-bottom: 0;
}

.producers label {
    margin-left: 12px;
}

.power li {
    margin-bottom: 16px;
}

.power li:last-child {
    margin-bottom: 0;
}

.power label {
    margin-left: 10px;
}

.filter-button {
    width: 140px;
    margin-top: 75px;
    padding-top: 15px;
    padding-right: 39px;
    padding-bottom: 14px;
    padding-left: 39px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.range-filter {
    width: 220px;
    margin-top: 0;
    padding-top: 0;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 9px;
    background :#f7f3ec;
    border-radius: 5px;
    overflow: hidden;
}

.scale {
    margin-top: 39px;
    margin-left: 30px;
        
    width: 170px;
    height: 2px;

    background:#d7dcde; 
}

.bar {
    height: 2px;
    background: #00ca74;
    margin-left:10px;
    width: 140px;
}

.toggle {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 #e0ddd8;
}

.min-toggle {
    margin-left: 20px;
}

.max-toggle {
    margin-left: 160px;
}

.price-controls input {
    width: 95px;
    height: 38px;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    text-align: center;
    color: #000000;

    background :#f7f3ec;
    border: none;   
    border-radius: 5px;
}

.price-controls .min-price {
    margin-right: 9px;
}

.price-controls .max-price {
    margin-left: 9px;
}

.sorting {
    display: flex;
    width: 700px;
    padding-top: 14px;

    background-color: #f7f3ec;
}

.sorting ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.sorting li:first-of-type {
    margin-right: 71px;
}

.sorting li:nth-of-type(2) {
    margin-right: 65px;
}

.sorting li:nth-of-type(3) {
    margin-right: 78px;
}

.sorting h2 {
    padding-bottom: 15px;
    padding-left: 19px;
    margin: 0;
}

.sorting h2,
.sorting button {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting button {
    padding: 0;
    padding-bottom: 1px;

    opacity: 0.3;
    border: none;
    border-bottom: 1px dotted #ee3643;    
    
    background-color: transparent;
}

.sorting button.active {    
    color: #ee3643;
    opacity: 1;
    border-bottom: none;
}

.sorting button:hover,
.sorting button:focus {
    margin-bottom: 1px;

    color: #000000;
    
    opacity: 1;
    border-bottom: 1px solid #ee3643;  
}

ul.pagination-list {
    display: flex;
    list-style: none;
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.pagination-item {
    min-width: 38px;
    margin-right: 10px;
    padding-top: 14px;
    padding-right: 15px;
    padding-bottom: 13px;
    padding-left: 16px;
    
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #ffffff; 
}

.pagination-item:last-child {
    width: 140px;
}

.pagination-item a {
    color: #000000;  
}

.pagination-item:hover,
.pagination-item:focus {
    border: 1px solid #bdc6ca;
}

.pagination-item:active {
    border: 1px solid #ee3643;
}

.pagination-item-current {
    background-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
}

.about-product {
    margin-bottom: 0;
    padding-top: 67px;
    padding-bottom: 73px;
} 

.about-product .content {
    margin-bottom: 0;
    padding-bottom: 0;
}

.sorting-products {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.filter-sorting-products {
    display: flex;
    width: 940px;
}

.footer-wrapper-1 {
    width: 100%;
    background-color: #32425c;
}

.main-footer-1 {   
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 53px;
        
    font: inherit;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
}

.site-logo-down {
    width: 220px;
    margin-bottom: -5px;
    padding-top: 20px;

    text-align: center;
    
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.site-logo-down:hover,
.site-logo-down:focus {
    background-color: #ca2c37;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.site-logo-down:active {
    background-color: #ba2732;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.contacts-bottom {
    order: 2;

    width: 322px;
    margin-top: 32px;

    color: #f1f5f7;
}

.contacts-bottom p {
    margin: 0;
    padding: 0;
}

.contacts-bottom a {
    color: #f1f5f7;
}

ul.site-navigation-down-1 {
    order: 1;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-left: auto;
    padding-top: 42px;

    list-style: none;
}

ul.site-navigation-down-2 {
    order: 3;
    display: flex;
    flex-wrap: wrap;

    margin-top: 32px;
    margin-left: auto;

    list-style: none;
}

.site-navigation-down-1 li,
.site-navigation-down-2 li {
    margin-right: 60px;
}

.site-navigation-down-1 li:last-child,
.site-navigation-down-2 li:last-child {
    margin-right: 0;
}

.site-navigation-down-1 a {
    color: #f1f5f7;
}

.site-navigation-down-2 a {
    color: #ffd180;
}

.site-navigation-down-1 a:hover,
.site-navigation-down-2 a:hover,
.site-navigation-down-1 a:focus,
.site-navigation-down-2 a:focus {
    text-decoration: underline solid;
}

.site-navigation-down-1 a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.site-navigation-down-2 a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-wrapper-2 {
    width: 100%;
    background-color: #293449;
}

.main-footer-2 {
    display: flex;
    justify-content: space-between;

    font: inherit;
    font-size: 16px;
    line-height: 18px;
}

.main-footer-2 p:first-of-type {
    width: 228px;
    margin-top: 39px;
    margin-right: 161px;
    margin-bottom: 35px;
}

.main-footer-2 p:nth-of-type(2) {
    width: 135px;
    margin-top: 40px;
    margin-right: 53px;
    margin-bottom: 35px;
}

.main-footer-2 p:nth-of-type(3) {
    width: 96px;  
    margin-top: 39px;
    margin-right: 15px;
    margin-bottom: 34px; 
}

.main-footer-2 a {
    color: #ffd180;
}

.main-footer-2 a:hover,
.main-footer-2 a:focus {
    text-decoration: underline solid;
}
.main-footer-2 a:active,
.main-footer-2 a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-social ul {
    list-style: none;
}

.footer-social li {
    background-color: #212a3a;
}

.footer-social li {
    background-color: #212a3a;
}

.footer-social li:hover,
.footer-social li:focus,
.footer-social li:active {
    background-color: #ee3643;
} 